*{
    box-sizing: border-box;
}

.form-ascii-art{
    background-color: #d7d7d7;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.form-ascii-art .contains{
    margin: 20px;
    padding: 20px;
   
}

@media (max-width: 768px) {
    .form-ascii-art {
        max-width: 500px;
    }
}
@media (max-width: 510px) {
    .form-ascii-art {
        max-width: 300px;
    }
    .form-ascii-art .contains form div {
        margin-bottom: 40px !important;
    }

    .form-ascii-art .contains form .text label {
        display: block;
        margin-bottom: -17px;
    }
    .form-ascii-art .contains form div select,
    .form-ascii-art .contains form div textarea {
        width: 80% !important;
    }
    .form-ascii-art .contains form button{
        width: 80% !important;
        margin-left: auto !important;
    }
    .show-ascii-art button,
    .go-back-error{
        width: 20% !important;
        height: 40px;
        margin-left: 10%;
        margin-bottom: 15px;        
    }
}

.form-ascii-art .contains form div{
    margin-bottom: 20px;
}
.form-ascii-art .contains form div label{
    margin-right: 20px;
    text-transform: capitalize;
    
}
.form-ascii-art .contains form div label.text{
    position: relative;
    top: -20px
}

.form-ascii-art .contains form div textarea,
.form-ascii-art .contains form div select{
    width: 50%;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 7px;
    background-color: #FFF;
}

.form-ascii-art .contains form button{
    width: 20%;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 7px;
    background-color: #FFF;
    cursor: pointer;
    margin-left: 126px;
}

.show-ascii-art {
    width: 100%;
    margin-top: 50px;
}
.show-ascii-art .contains{
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d7d7d7;
    overflow: scroll
}
.show-ascii-art button,
.go-back-error{
    width: 10%;
    min-width: 100px;
    height: 40px;
    margin-left: 10%;
    margin-bottom: 15px;
    background-color: #d7d7d7;
    outline: 0;
    border: 1px solid #CCC;
    border-radius: 5px;
    border-radius: 7px;
    cursor: pointer;  
}
.go-back-error{
    margin-left: 45%;
}
