<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-art-web</title>
    <link rel="stylesheet" href="static/style/style.css">
    <!-- Start favIcon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon.png">
    <!-- End favIcon -->
</head>
<body>
    <div class="ascii-art-result">
        <!-- start show ascii art -->
        <div class="show-ascii-art">
            <button type="menu" onclick="window.history.back()">Go Back</button>
            <form action="/export" method="post">
                <button type="submit" >Export</button>
                <div class="contains overflow">
                    <pre >{{.}}</pre>
                </div>
            </form>

        </div>
        <!-- end show ascii art -->
    </div>
</body>
</html>