<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-art-web</title>
    <link rel="stylesheet" href="static/style/style.css">
    <!-- Start favIcon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon.ico">
    <!-- End favIcon -->
</head>
<body>
    <!-- start show ascii art -->
    <div class="show-ascii-art">
        <form action="/"><button type="submit">Go Back</button></form>
        <div class="contains">
            <pre>{{.}}</pre>
        </div>
    </div>
    <!-- end show ascii art -->
</body>
</html>