<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-art-web</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    
    <!-- start show ascii art -->
    <div class="show-ascii-art">
        <form action="/"><button type="submit">Go To Back</button></form>
        
        <div class="contains">
            <pre>{{.}}</pre>
        </div>
    </div>
    <!-- end show ascii art -->


</body>
</html>