<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
    <!-- Start favIcon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon.ico">
    <!-- End favIcon -->
    <title>ERROR 404</title>
</head>
<body>
    <center><h2>Error {{.ErrNum}} : {{.ErrTxt}}</h2></center>
    <form action="/">
        <button class="go-back-error" type="submit">Go Back</button>
    </form>
</body>
</html>